body, html {
    height: 100%;
}

:root {
    --blackish: #0a0909;
}

body {
    font-family: 'Recursive', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: var(--blackish);
    color: rgba(248, 249, 250, 1)
}

main {
    height: 100%;
    min-height: 100%;
}

.card {
    background-color: var(--blackish);
    background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23272727' fill-opacity='0.15' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.icon-16 {
    width: 16px;
    height: 16px;
}

.max-180 {
    max-width: 180px;
}

.backdrop-blur-20 {
    backdrop-filter: blur(20px);
}

.backdrop-blur-5 {
    backdrop-filter: blur(5px);
}

.bg-wiggle {
    background-image: radial-gradient(ellipse at center 60%, transparent 20%, rgba(10,9,9,0.7) 70%, rgba(10,9,9,0.95) 100%), linear-gradient(to bottom, rgba(10,9,9,0.9) 0%, transparent 20%, transparent 85%, rgba(10,9,9,0.8) 100%), url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23272727' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.bg-dark-25 {
    background-color: rgba(0, 0, 0, 0.25) !important;
}

.typewriter {
    overflow: hidden;
}

.cursor {
    background-color: rgb(155, 155, 155);
    color: transparent;
    width: 4px;
}
.cursor__blink {
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {
        background-color: rgb(155, 155, 155);
    }
    50% {
        background-color: transparent;
    }
}